.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: pink;
  width: 200px;
  z-index: 200;
  padding-top: 20px;
}

.sidebar-link {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding-bottom : 5px
}

.sidebar-link:hover {
  background-color: rgb(235, 153, 153);
  border-bottom-style: double;
  border-color : white;
}

.sidebar-link img {
  height: 75px;
  width : 150px;
  margin-bottom: 4px;
  border-radius: 100px / 50px;
  border-style: groove;
}

.sidebar-link div {
  font-size: 15px;
  font-family: cursive;
  color: rgb(10,50,200);
}
